* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #fffefc;
}

body {
  min-height: 100vh;
  background: #6D9ED6;
  background: linear-gradient(135deg, #6D9ED6, #288DC7);
  font-family: 'Poppins', sans-serif;
}


/* Header styles */

header {
  color: var(--text);
  padding: 1em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr 1fr;
}

header .logo {
  place-self: center left;
}

header .search-container {
  position: relative;
  place-self: center;
  width: 100%;
  max-width: 400px;
}

.search-container input {
  all: unset;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem 1rem;
  padding-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  cursor: pointer;
}

input::placeholder {
  color: rgba(245, 245, 245, 0.8);
}

.search-container input:focus {
  background-color: rgba(255, 254, 252, 0.1);
  outline: 1px solid white;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

header .settings-container {
  position: relative;
  width: fit-content;
  place-self: center right;
  z-index: 3;
}

header .settings-icon {
  font-size: 24px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

header .settings-icon:hover {
  color: rgba(255, 254, 252, 0.8)
}

header .settings-dropdown {
  display: none;
  z-index: 3;
  position: absolute;
  top: 110%;
  right: 0%;
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 254, 252, 0.3);
}

header .settings-dropdown.show {
  display: block;
}

.screen {
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

header .setting-item {
  padding: 0.5rem 0px;
  position: relative;
}

header label {
  width: 100%;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 30px;
  box-shadow: inset 0px 2px 4px rgba(0,0,0, 0.4), inset 0px -2px 6px rgba(255,255,255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

header label:after {
  content: '';
  width: 45%;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #6D9ED6, #288DC7);
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

label .left {
  left: 20px;
}

label .right {
  right: 20px;
  color: #242424;
}

header .settings-container input {
  width: 0;
  height: 0;
  visibility: hidden;
}

header .settings-container input:checked + label span.left {
  color: #242424;
}
header .settings-container input:checked + label span.right {
  color: var(--text);
}

header .settings-container input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

header input:active:after {
  width: 70%;
}


/* Tablet screen size styles */

@media only screen and (min-width: 768px) {

  /* Header styles */
  header {
    padding: 1.5rem 2rem;
  }

  header .logo {
    width: 40px;
  }

  .search-container .search-icon {
    font-size: 24px;
  }

  header .settings-icon {
    font-size: 35px;
  }
}